*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 32, 59);
}
.calculator--wrapper {
    width: 15.625rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-radius: 10px;
    overflow: clip;
    background-color: hsla(0, 3%, 8%, 0.678);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.671);
}
.calculator--display {
    width: 100%;
    height: 3.125em;
    padding-right: 0.3125em;
    font-size: 2rem;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: none;
    text-align: right;
    caret-color: transparent;
}
.calculator--display:focus {
    outline: none;
}
.buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.1rem;
}
.btn {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(56, 54, 54, 0.678);
    color: hsla(0, 0%, 100%, 0.801);
}